.aider*

spark/invisible-terminal/node_modules/yauzl/

spark/invisible-terminal/node_modules/wrappy/

multiclip-system/venv/

.kilocodemodes

spark/crypto-portfolio-tracker/venv/

spark/crypto-portfolio-tracker/.env

spark/spark/.env

spark/invisible-terminal/.env

spark/invisible-terminal/node_modules/

spark/car-dealership-system/frontend/node_modules/

spark/car-dealership-system/.env

spark/apOkay/core/__pycache__/

spark/apOkay/core/__init__.py

spark/apOkay/apks/

spark/.env

sasha/api_security_scanner/venv/

multiclip-system/shared/__pycache__/

multiclip-system/gui/__pycache__/

multiclip-system/__pycache__/

spark/crypto-portfolio-tracker/history3.txt

spark/car-dealership-system/frontend/src/historey.txt
